@media (max-width:765px) {
	.mobile-view {
		display: none;
	}


	/* Chrome, Edge, Safari */
	.scroll-container::-webkit-scrollbar {
		width: 0px;
		background: transparent;
	}

	/* Firefox */
	.scroll-container {
		scrollbar-width: none;
		/* hide scrollbar */
		-ms-overflow-style: none;
		/* IE 10+ */
	}

	.show-emoji {
		right: 5% !important;
	}

}



/* Firefox */

.scroll-container {
	/* overflow-y: scroll; */
	-ms-overflow-style: none !important;
	/* IE & Edge */
	scrollbar-width: none;
	/* Firefox */
}

.scrollable-div::-webkit-scrollbar {
	display: none;
}